language: java
env:
  matrix:
# currently the only way to do a multi-dimensional env matrix
    - PLATFORM=railo41 TESTFRAMEWORK=testbox
    - PLATFORM=railo42 TESTFRAMEWORK=testbox
    - PLATFORM=lucee451 TESTFRAMEWORK=testbox
    - PLATFORM=acf10-linux64 TESTFRAMEWORK=testbox
    # - PLATFORM=railo40 TESTFRAMEWORK=testbox
    # - PLATFORM=railo40 TESTFRAMEWORK=mxunit
    # - PLATFORM=railo41 TESTFRAMEWORK=mxunit
    # - PLATFORM=railo42 TESTFRAMEWORK=mxunit
    # - PLATFORM=lucee451 TESTFRAMEWORK=mxunit
    # - PLATFORM=acf10-linux64 TESTFRAMEWORK=mxunit
    # - PLATFORM=acf902-linux64 TESTFRAMEWORK=mxunit

before_install:
    - echo 'Canada/Pacific' | sudo tee /etc/timezone
    - sudo dpkg-reconfigure --frontend noninteractive tzdata
    - sudo ntpdate ntp.ubuntu.com

install: ant -Dtest.framework=$TESTFRAMEWORK -Dsource=remote -Dwork.dir=$HOME/work -Dbuild.dir=$TRAVIS_BUILD_DIR -Dplatform=$PLATFORM install-ci-deps
script: ant -Dtest.framework=$TESTFRAMEWORK -Dsource=remote -Dwork.dir=$HOME/work -Dbuild.dir=$TRAVIS_BUILD_DIR -Dplatform=$PLATFORM test-ci
